<h3>Create User</h3>
<div class="row">
  <form action="/users" method="post">
    <div>
      Username: <input type="text" id="username" name="username" />
    </div>
    <div>
      Password: <input type="password" id="password" name="password" />
    </div>
    <div>
      Name: <input type="text" id="name" name="name" />
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>
</div>
